@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap');

.press-start 2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
 }

body {
    font-family:"Press Start 2P", system-ui;
}

.body.fondo1{
    background-image: url(./img/mankey\ fondo.jpg)
}

.body.fondo2{
    background-image: url(./img/growlithe\ fondo.jpg)
}

.body.fondo3{
    background-image: url(./img/hitmonlee\ fondo.jpg)
}

.body.fondo4{
    background-image: url(./img/shandshrew\ fondo.jpg)
}

#Marron{
    background-color: rgb(148, 37, 37)
}

#Gris{
    background-color: gray
}

#Rojo{
    background-color: rgb(222, 8, 8)
}

#Negro{
    background-color: rgb(54, 50, 50)
}



.titulo{
    text-align: center;
    font-family:"Press Start 2P", system-ui;
}

.titulo1{
    text-align: left;
    font-family:"Press Start 2P", system-ui;
}

.evo{
    text-align: center;
}

.Volver {
    text-align: center;
    background-color: rgb(243, 243, 243);
    color: rgb(7, 7, 7);
    text-decoration: none;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 16em;
}

a {
    text-decoration: none;
}